/*Selectores de especificidad 000*/
*{
	padding: 0;
  }

/*Selectores de especificidad 001*/
body{
	font-family:Verdana, sans-serif;
	font-size:15px;
	font-weight:300;
	color:#000000;
	background-color:#FFFFFF;
	margin: 25px 50px;
	text-align: center;

}
header{
	padding:30px;
	background:#E3F7FF;
	text-align:center;
	color:#193c53;
}
p {	
	text-align: justify;
}
nav{
	list-style: none;
}
h1{
	color:#1b294d;	

}
footer{
	text-align:center;
	padding:10px;
}
h2,h3,h4{
	color:#3f5da8;
}
video {
	width: 75%;
	height: 75%;
  }
/*Selectores de especificidad 002*/
header p{
	text-align: center;
    color: #000084;
    background: #E3F7FF;
    font-size: 20px;
}
header h1 {
    font-size: 50px;
    font-style: oblique;
    font-weight: 800;
    font-variant: small-caps;
}
section ul{
	text-align: justify;
	list-style: circle;

}
nav ul{
	list-style: none;
	overflow: hidden;
	width:100%;
  } 
/*Selectores de especificidad 003*/
  nav ul>li{
	float: left;
	text-align:center;
	width:25%;
  }
/*Selectores de especificidad 004*/
nav ul li>a{
	background-color: #1b294d;
	color: #E3F7FF;
	padding: 10px;
	display: block;
	text-decoration: none;
	min-width: 100px;
  }
  nav ul>li>ul{
	display: none;	
	width:100%;
  }
  /*Selectores de especificidad 014*/
  nav ul li>a:hover{
	color: #1b294d;
	background-color: #E3F7FF;
	width:100%;
  }
  nav ul li>a:focus{
	color: #1b294d;
	background-color: #E3F7FF;
	width:100%;
  }

  /*Selectores de especificidad 015*/
  nav ul>li:hover>ul>li {	
	overflow: hidden;
	width:100%;
  }
	
  
