
/*Selectores de especificidad 001*/
section[tabindex="5"]{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(45%, 20em));
  	grid-gap: 1rem;
}


textarea{
	width: 70%;
	height: 180%;
}

@media all and (max-width: 800px) {
	nav {
	  flex-flow: column wrap;
	}
  }
/*Selectores de especificidad 011*/
section[accesskey="9"],section[accesskey="0"] {
	grid-column-start: 1;
	grid-column-end: 3;
}

input[type="button"]{
	width: 9em;
	height: 4em;
	background: #000084;
    color: #E3F7FF;
}
/*Selectores de especificidad 003*/
@media all and (max-width: 800px) {

	nav ul>li{
		width:100%;
	  }
  }

  