/*Selectores de especificidad 001*/

th{
	background:#2b3ff8;
	color:white;
}

footer{
	text-align:center;
	background-color:#E3F7FF;
	color:white;
	padding:10px;
	border: solid;
	border-color:#6497AC;
}

/*Selectores de especidicidad 002*/

th[rowspan]{
	background:#ffffff;
	color:#2b3ff8;
	;
}

td,th{
	border:1px solid;
	padding:12px;
	border-color:#2336e0;
}

/*Selectores especificidad 003*/
h2,h3,h4{
	color:#3f5da8;
	background-color:#FFFFFF;
}




	

	
