/*Selectores de especificidad 001*/

th{
	background:#2b3ff8;
	color:white;
}


table{
	margin: auto;
}

td,th{
	border:0.063em solid;
	padding:0.75em;
	border-color:#2336e0;
}

/*Selectores de especidicidad 011*/

td[rowspan]{
	background:#ffffff;
	color:#2b3ff8;
	;
}




	

	
